.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #242424;
    color: #ffffff;
}

h1.success {
    color: #4CAF50;
}

h1.error {
    color: #F44336;
}

.icon {
    margin-bottom: 20px;
    width: 48px;
    height: 48px;
    animation: scaleUp 0.5s ease-out;
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
